<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Travel Planner</title>
    </head>

    <body>
        <div class="container">
            <div class="header">
                <div class="icon-container"></div>
            </div>

            <div class="content">
                <div class="general-information">
                    <div class="status">Travel Planner</div>
                    <div class="location">Enter a city and travel dates to find relevant info</div>
                </div>
                <div class="detail-section">
                    <form onsubmit="Client.submitForm(event)" autocomplete="off">
                        <label for="city">Enter city:</label>
                        <input id="city" type="text" placeholder="Enter city" required />
                        <label for="startDate">Start date:</label>
                        <input id="startDate" type="date" required />
                        <label for="endDate">End date:</label>
                        <input id="endDate" type="date" required />
                        <input id="submit" class="submit" type="submit" />
                    </form>
                </div>
            </div>

            <div class="new-trip" id="new-trip">
                <div class="description">Remember to save your trip.</div>
                <div class="new-trip__container" id="new-trip__container"></div>
            </div>

            <div class="trips" id="trips">
                <div class="trips__container" id="trips__container"></div>
            </div>
        </div>

        <script>
            if ("serviceWorker" in navigator) {
                window.addEventListener("load", () => {
                    navigator.serviceWorker.register("/service-worker.js").then((registration) => {
                        console.log("SW registered successfuly: ", registration);
                    });
                });
            } else {
                console.log("Service Working not supported");
            }
        </script>
    </body>
</html>
