.header {
  background-color: $dark-color;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.icon-container {
  position: relative;
  top: 70px;
  padding: 20px;
  background-color: $white-color;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("../media/travel.png");
  background-repeat: no-repeat;
  background-size: contain;
  }

