$font-stack: Arial, Helvetica, sans-serif;
$body-background-color: rgb(196, 179, 203);
$dark-blue: rgb(32, 32, 87);
$white: rgb(255, 255, 255);
$dark-orange: rgb(224, 58, 28);

/* The alert message box */
.errors {
  padding: 20px;
  background-color: $dark-orange;
  color: $white;
  margin-bottom: 15px;
  display: none;
  width: 100%;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: $white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: $dark-blue;
} 
