// Google fonts
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:900|Merriweather&display=swap");

// Font Variables
$poppins: "Poppins", sans-serif;

// Color Variables
$pink-color: rgb(255, 238, 238);
$orange-color: rgb(255, 185, 35);
$grey-color: rgb(56, 93, 106);
$dark-blue: rgb(32, 32, 87);
$white-color: rgb(255,255,255);
$dark-color: rgb(34, 34, 34);
$dark-grey: rgb(119, 119, 119);

// Different screen sizes
$break-small: 750px;
$break-large: 1000px;

